/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Sidebar CSS~~~~~~~~~~~~~~~~~~~~*/
ul{
    list-style-type:none;
    margin: 0;
    padding: 0;
    background-color: #161816;
    width: inherit
    border: none;
}
a{
    font-family: monospace;
    color: white;
    text-decoration: none;
}
li{
    margin: inherit;
    padding-top: 5%;
    padding-bottom: 5%;
    border-color: #161816;
    text-align: center;
    font-size: 20px;
}
li:hover{
    background-color: #193147;
}
img{
    width: inherit;
    border: none;
}
h1{
   text-align: center;
}
.sidebar{
    width: 250px;
    background-color: #161816;
    border-color: none;
    position: absolute;
    z-index: -1;
    top: 0px;
    bottom: 0px;
    overflow: hidden;
    min-height: 700px;
    left: -1px
}
.contents{
    padding-top: 3%;
    padding-left: 2%;
    margin-left: 250px;
    position: absolute;
    background-color: #001F3D;
    font-family: monospace;
    color: #99A5B1;
}
td{
    word-wrap: break-word;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}


.TopPadding{
    padding-bottom: 200px;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~C# Projects~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*C# Project Container*/
.CSharp{
    color: white;
    border: 0px;
    background-color: #193147;
}
.CSharp h3{
    font-size: 20px;
    text-align: center;
}
.CSharp h2{
    font-size: 15px;
    text-align: center;
}
.CSharp h1{
    text-align: center;
}
/*OCR Container*/
.OCRContain{
    background-color: #161816;
    border: none;
    height: 100px;
}
.OCRContain:hover #LoLOCR{
    visibility: visible;
}
.OCRContain:hover{
    height:500px;
}
/*Map My Route Container*/
.MMRContain:hover{
    height:500px;
}
.MMContain:hover #MapMyRoute{
    visibility: visible;
}
.MMRContain{
    background-color: #161816;
    border: none;
    height: 100px;
}
/*LoLOCR Show on hover*/
#LoLOCR{
    visibility: hidden;
}
#LoLOCR:hover{
    visibility: visible;
}
/*Map My Route show on hover*/
#MapMyRoute{
    visibility: hidden;
}
#MapMyRoute:hover{
    visibility: visible;
}


/*~~~~~~~~~~~~~~~~~~~~~~~HTML/CSS?Javascript Projects~~~~~~~~~~~~~~*/
.HTML{
    color: white;
    border: 0px;
    background-color: #193147;
}
.HTML h3{
    font-size: 20px;
    text-align: center;
}
.PortfolioContain{
    background-color: #161816;
    border: none;
    height: 100px;
}
.PortfolioContain:hover #portfolio{
    visibility: visible;
}
.PortfolioContain:hover{
    height:500px;
}
#portfolio{
    visibility: hidden;
}
#portfolio:hover{
    visibility: visible;
}
