/** {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}*/

#footer, #header {
	text-align: center;
}

a{
	color: black;
	text-decoration: none;
	text-align: center;
}

img{
	width: 100%;
}

.btn{
	align-self: center;
}

ul{
	list-style: none;
	padding-left: 0;
}

@media (min-width: 768px) {
	.row {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display:         flex;
		flex-wrap: wrap;
	}

	.row > [class*='col-'] {
		display: flex;
		flex-direction: column;
	}
}

.spacing {
	height: 100%;
}

.project {
	padding-bottom: 10%;
}
